@model IEnumerable<Core.Entities.Genre>

<h1>Genres</h1>
<a asp-action="Create" class="btn btn-primary">Add New Genre</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var genre in Model)
    {
        <tr>
            <td>@genre.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>